__pycache__/
*.pyc
.pytest_cache/
venv/
venv-ml/
venv310/
venv_backend/
rasa_env/
node_modules/
.env
*.log
*.zip
uploads/
Datasets/
.DS_Store
*.bak
backend/data/nvd_processed/
sandbox/data/rollback_backups/
backend/backup_models/
